h1 {
    text-align: center;
    color: cornflowerblue;
  }
  p {
    text-align: center;
    color:blue;
    
  }
  body {
    background-color: bisque;
  }
  img {
    width:500px;
  }
  div{
    text-align: center;
  }